

<button data-playing="false" class="tape-controls-play" role="switch" aria-checked="false">
  <span>Play/Pause</span>
</button>

<input type="range" id="freq" class="control-freq" list="freq-vals" min="0" max="10000" value="0" step="0.1"
  data-action="freq" />
<label for="freq">Freq</label>


<input type="range" id="volume" class="control-volume" min="0" max="1" value="1" list="gain-vals" step="0.01"
  data-action="volume" /><label for="volume">VOL</label>

  <input type="range" id="panner" class="control-panner" list="pan-vals" min="-1" max="1" value="0" step="0.01" data-action="panner" /><label for="panner">PAN</label>

<input type="range" id="delay" class="control-delay" list="delay-vals" min="0" max="2" value="0" step="0.01"
  data-action="delay" />
<label for="delay">DELAY</label>

    <div class="field">
      <section class="section">
        <span class="select">
          <select id="waveform" class="form-control" name="waveform">
            <option value="triangle">triangle</option>
            <option value="sawtooth">sawtooth</option>
            <option value="sine">sine</option>
            <option value="square">square</option>
          </select>
        </span>
      </section>
    </div><br>


  <input type="range" id="drumVolume" class="control-drumVolume" min="0" max="1" value="1" list="gain-vals" step="0.01"
  data-action="drumVolume" />
<label for="drumVolume">Drum Volume</label>


 
 <button data-playing="false" class="beatboxplay" role="switch" aria-checked="false">
    <span>Play/Pause</span>
</button>


<input type="range" id="lowpass" class="control-lowpass" list="lowpass-vals" min="0" max="100" value="0" step=".1"
  data-action="lowpass" />
<label for="lowpass">lowpass</label>

  <div class="field">
      <section class="section"></section>
        <span class="select">
          <select id="drumbeat" class="form-control" name="drumbeat">
            <option value="techno">techno</option>
            <option value="drumandbass">drum and bass</option>
            <option value="downtempo">downtempo</option>
          </select>
        </span>
      </section>
    </div><br>
 <audio loop id="techno" src="~/audio/technobeat.mp3" crossorigin="anonymous"></audio>
 <audio loop id="drumandbass" src="~/audio/drumandbass.mp3" crossorigin="anonymous"></audio>
 <audio loop id="downtempo" src="~/audio/downtempo.mp3" crossorigin="anonymous"></audio>
<script src="~/js/synthesizers.js"></script>
