<button data-playing="false" class="tape-controls-play" role="switch" aria-checked="false">
        <span>Play/Pause</span>
      </button>

<input type="range" id="volume" class="control-volume" min="0" max="3" value="1" list="gain-vals" step="0.01" data-action="volume" /><label for="volume">VOL</label>



<script src="~/js/synthesizers.js"></script>


