@{
    ViewData["Title"] = "Home Page";
}

 @* <link rel="stylesheet" href="style.css" /> *@

<div class="text-center">
    <h1>SOUNDMAKER - EPISYNTH</h1>
    <hr>
    <p>Please be mindful of volume before staring</p>
    <div>
    <button type="button" class="btn btn-dark">START</button>
    </div>   

</div>
