@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SoundMaker</h1>
     <p>@Html.ActionLink("Play with the SoundMaker EpiSynth 1.0 LX", "Index", "Synthesizers")</p>
    <p>Learn about <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API">the Web Audio API</a>.</p>

</div>
