@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>SOUNDMAKER - EPISYNTH</h1>
    <hr>
    <p>Please be mindful of volume before starting</p>
    <div>
    <input type="button" class="btn btn-dark" id="homepage-button" value="Start" onclick="location.href='@Url.Action("Index", "Synthesizers")'" />
    </div>
</div>
