@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>SOUNDMAKER - EPISYNTH</h1>
    <div>
    <button type="button" class="btn btn-dark">START</button>
    </div>   

</div>
